
.flexbox-container {
   height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
   }

.flexbox-item {
    width: auto;
    margin: 10px;
    border: 5px dotted #D7B4F3;
    padding: 10px;
    
}

.flexbox-item-1 {
  min-height: auto;
   text-align: center;
   
}
 
.flexbox-item-2 {
  min-height: auto;
       
}


.flexbox-item-3 {
    min-height: auto;
   
}

.flexbox-item-4 {
    min-height: auto;
  
}
    
.ptext {
    margin-left: 10px;
  
}

img {
    animation:rotate 3s 2;
animation-timing-function: cubic-bezier(1,0,.5,1);
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg) } 
    to { -webkit-transform: rotate(360deg) } 
}
